# This is a basic workflow to help you get started with Actions

name: 打包应用并上传服务器

# Controls when the action will run.
on:
   push:
    tags:
      - '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: 获取package信息
        id: package
        uses: codex-team/action-nodejs-package-info@v1
      # 安装node
      - name: 安装node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.15.4

      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      # 安装依赖
      - name: 安装依赖
        run: npm ci

      # 打包
      - name: 打包
        run: npm run build

      # 上传到cdn
      - name: 上传到cdn
        uses: sexyHuang/qiniu-upload@master
        with:
          # Your qiniu access key, required.
          access_key: ${{ secrets.QINIU_ACCESS_KEY }}

          # Your qiniu secret key, required.
          secret_key: ${{ secrets.QINIU_SECRET_KEY }}

          # Bucket name, required.
          bucket: ${{ secrets.QINIU_BUCKET }}

          # The local directory (or file) you want to upload to bucket.
          # Default: './'
          source_dir: ${{ steps.package.outputs.name }}

          # The directory inside of the bucket you want to upload to, namely key prefix prepended to dest file key.
          # Default: '/'
          dest_dir: ${{ steps.package.outputs.name }}

          exclude: '["index.html"]'

          clear: true

      # 上传到服务器
      - name: 发布
        uses: easingthemes/ssh-deploy@v2.1.1
        env:
          # 私钥
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          # scp参数
          ARGS: '-avzr --delete'
          # 源目录
          SOURCE: ${{ steps.package.outputs.name }}
          # 服务器ip：换成你的服务器IP
          REMOTE_HOST: ${{ secrets.SERVER_IP }}
          # 用户
          REMOTE_USER: 'root'
          # 目标地址
          TARGET: '/root/www'
